@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/scss/font-awesome';

body {
  background-color: #fdfdfd;
}

footer,
.navbar-default {
  background-color: #ffffff;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#ui-search-form {
  padding: 8px 0;
}

hr {
  margin: 10px 0;
}

.form-item-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px 10px 20px;
}

.form-item .panel-body p {
  padding-bottom: 33px;
  text-align: justify;
}

#footer-blocks {
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
  padding: 0;
}

#footer-blocks li {
  display: inline-block;
}

#add-form-vote {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

label {
  font-weight: normal;
}

.footer-logo {
  margin-top: 15px;
}

.panel-primary {
  border-color: #614239;
}

.panel-primary > .panel-heading {
  background-color: #755044;
  border-color: #614239;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #755044;
  border-color: #614239;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.pagination > li > a,
.pagination > li > span {
  color: #614239;
}