@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/scss/font-awesome';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#ui-search-form {
  padding: 8px 0;
}

hr {
  margin: 10px 0;
}

.form-item-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px 10px 20px;
}

.form-item .panel-body p {
  padding-bottom: 33px;
  text-align: justify;
}